* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

@import "./base/base.scss";

.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: $primary-color;
}

.ant-modal-content {
  .updateLocationModal-name,
  .updateLocationModal-province,
  .updateLocationModal-country {
    margin-bottom: 18px;
  }
}

@import "./components/header-home.scss";
@import "./components/location.scss";
@import "./components/location-admin.scss";
@import "./pages/home-page.scss";
@import "./pages/login-page.scss";
@import "./pages/signup-page.scss";
@import "./pages/account-page.scss";
@import "./pages/admin-home-page.scss";
@import "./pages/admin-home-page.scss";
@import "./pages/admin-location-page.scss";
