* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

@import "./base/base.scss";

.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: $primary-color;
}

.ant-modal-content {
  .updateLocationModal-name,
  .updateLocationModal-province,
  .updateLocationModal-country,
  .createLocationModal-name,
  .createLocationModal-province,
  .createLocationModal-country,
  .createLocationModal-valueate,
  .updateUserModal-name,
  .updateUserModal-email,
  .updateUserModal-phone,
  .updateUserModal-birthday,
  .updateUserModal-address,
  .updateUserModal-gender,
  .createUser-name,
  .createUser-email,
  .createUser-password,
  .createUser-phone,
  .createUser-birthday,
  .createUser-gender,
  .createUser-type {
    margin-bottom: 18px;
  }
}

@import "./components/header-home.scss";
@import "./components/location.scss";

@import "./pages/home-page.scss";
@import "./pages/login-page.scss";
@import "./pages/signup-page.scss";
@import "./pages/account-page.scss";
@import "./pages/admin-home-page.scss";
@import "./pages/admin-home-page.scss";
@import "./pages/admin-location-page.scss";
@import "./pages/admin-location-detail-page.scss";
@import "./pages/admin-user-page.scss";
@import "./pages/admin-user-detail-page.scss";
