* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

@import "./base/base.scss";

.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: $primary-color;
}

.ant-modal-content {
  .updateLocationModal-name,
  .updateLocationModal-province,
  .updateLocationModal-country,
  .createLocationModal-name,
  .createLocationModal-province,
  .createLocationModal-country,
  .createLocationModal-valueate,
  .updateUserModal-name,
  .updateUserModal-email,
  .updateUserModal-phone,
  .updateUserModal-birthday,
  .updateUserModal-address,
  .updateUserModal-gender,
  .createUser-name,
  .createUser-email,
  .createUser-password,
  .createUser-phone,
  .createUser-birthday,
  .createUser-gender,
  .createUser-type,
  .updateRoomModal-name,
  .updateRoomModal-location,
  .updateRoomModal-description,
  .updateRoomModal-price,
  .updateRoomModal-guests,
  .updateRoomModal-bedRoom,
  .updateRoomModal-bath {
    margin-bottom: 18px;
  }
}

.ant-drawer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cb {
    margin-bottom: 12px;
  }

  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
  }
}

.ant-comment-inner {
  padding: 12px 0;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

@import "./components/header-home.scss";
@import "./components/location.scss";
@import "./components/room.scss";

@import "./pages/home-page.scss";
@import "./pages/login-page.scss";
@import "./pages/signup-page.scss";
@import "./pages/account-page.scss";
@import "./pages/admin-home-page.scss";
@import "./pages/admin-home-page.scss";
@import "./pages/admin-location-page.scss";
@import "./pages/admin-location-detail-page.scss";
@import "./pages/admin-user-page.scss";
@import "./pages/admin-user-detail-page.scss";
@import "./pages/location-detail-page.scss";
@import "./pages/room-detail-page.scss";
@import "./pages/admin-room-page.scss";
@import "./pages/admin-room-detail-page.scss";
