$bg-color: white;
$bg-color-3: rgba(255, 255, 255, 0.3);
$primary-color: #1890ff;
$primary-color-light: #e6f7ff;
$error-color: #ff4d4f;
$error-color-light: #fff2f0;

$container-width: 1200px;
$container-width-small: 500px;
$container-margin: 0 auto;
$container-padding: 0 30px;

$transition-value: all 0.3s ease;
