@import "../base/base.scss";

.location-card {
  width: 100%;
  position: relative;

  &:hover img {
    transform: scale(1.1);
  }

  &:hover .name {
    color: $primary-color;
  }

  .image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: $transition-value;
    }
  }

  .info {
    margin-top: 5px;

    .info-line1 {
      display: flex;
      justify-content: space-between;

      .name {
        font-weight: bold;
        cursor: pointer;
        transition: $transition-value;
      }

      .star {
        color: $primary-color;
        font-weight: bold;
        width: 40px;
        min-width: 40px;
        text-align: right;
        margin-left: 15px;

        .fa-star {
          margin-left: 4px;
        }
      }
    }
  }

  .fa-heart {
    position: absolute;
    top: 15px;
    right: 15px;
    color: $bg-color;
    background-color: $bg-color-3;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: $transition-value;

    &:hover {
      transform: scale(1.5);
      background-color: transparent;
      color: $primary-color;
    }
  }
}
