@import "../base/base.scss";

$avatar-size: 90px;

.account-page {
  .container {
    width: 100%;
    max-width: $container-width;
    margin: $container-margin;
    padding: $container-padding;

    .info {
      margin: 30px 0;
      display: flex;

      .avatar {
        width: $avatar-size;
        min-width: $avatar-size;
        height: $avatar-size;
        border-radius: $avatar-size;
        overflow: hidden;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .data {
        .name {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 4px;
        }

        .type {
          margin-bottom: 6px;
        }

        i {
          width: 22px;
        }
      }
    }
  }
}
