@import "../base/base.scss";

.admin-room-page {
  .container {
    width: 100%;
    max-width: $container-width;
    margin: $container-margin;
    padding: $container-padding;

    .room-list {
      padding: 30px 0;
    }
  }
}
