@import "../base/base.scss";

.home-page {
  .container {
    width: 100%;
    max-width: $container-width;
    margin: $container-margin;
    padding: $container-padding;

    .location-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px 0;

      @media screen and (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .pagination {
      text-align: center;
      padding-bottom: 30px;
    }

    .search {
      padding-top: 30px;
    }
  }
}
