@import "../base/base.scss";

.location-detail-page {
  .container {
    width: 100%;
    max-width: $container-width;
    margin: $container-margin;
    padding: $container-padding;

    .content {
      padding: 30px 0;

      .image {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .info-action {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;

        .info {
          .name {
            font-size: 1.3rem;
            font-weight: bold;
          }

          .star {
            color: $primary-color;

            .fa-star {
              margin-left: 4px;
            }
          }
        }
      }

      .room-area {
        margin-top: 30px;
      }

      .room-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media screen and (max-width: 992px) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 25px;
        }

        @media screen and (max-width: 576px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .no-result {
        padding: 30px 0;
        text-align: center;

        img {
          width: 45px;
        }

        .nr1 {
          margin-top: 20px;
          margin-bottom: 5px;
          font-weight: bold;
        }
      }

      .room-search {
        display: flex;

        button.btn-filter {
          margin-left: 10px;

          i {
            margin-right: 8px;
          }
        }
      }

      .location-suggestion {
        .location-list {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 30px;

          @media screen and (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
          }

          @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
}
